<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <hr>
    <!-- Three columns of text below the carousel -->
    <h3 class="text-center"> Carrito</h3>

    <hr>
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
            <ng-container *ngIf="cart == 'empy'; else cartTemplate">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3 id="message">actualmente no tiene no tiene productos en su carro de compras</h3>
                    </div>
                </div>
            </ng-container>
            <ng-template #cartTemplate>
                <div *ngFor="let item of items; let i = index" class="col-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12">
                            <img class="size-image" src="{{item.product.images[0].url}}" alt="">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-8">
                            <a [routerLink]="['/public/product/', item.product_id]"
                                routerLinkActive="router-link-active">
                                <h4>{{item.product.name}}</h4>
                            </a>
                            <ng-container *ngFor="let size of item.product.sizes">
                                <div *ngIf="size.id == item.size_id">
                                    <div>Talla seleccionada: {{size.size}}</div>
                                    <div>Disponibles: {{size.products_sizes.quantity}}</div>

                                </div>
                            </ng-container>
                            <div>Precio por Unidad:{{item.product.price}} Bsf</div>
                            <ng-container *ngFor="let size of item.product.sizes">
                                <ng-container *ngIf="size.id == item.size_id ; else elseTemplateQuantity">
                                    <ng-container *ngIf="size.products_sizes.quantity > 0;else elseTemplateQuantity">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto my-1">
                                                <div class="form-group">
                                                    <label for="quantity">Cantidad</label>
                                                    <input type="number" class="form-control"
                                                        [(ngModel)]="item.quantity" (ngModelChange)="updateTotal()"
                                                        id="exampleInputEmail1" aria-describedby="emailHelp">
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #elseTemplateQuantity>
                                        <span class="text-danger">Lo sentimos mucho ya no tenemos existencia de este
                                            producto</span>
                                    </ng-template>
                                </ng-container>



                            </ng-container>

                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4">
                            <p>Total :{{item.product.price*item.quantity}} Bsf</p>
                            <button type="button" name="" id="" class="btn btn-danger"
                                (click)="deletoToCart(item.id)">eliminar</button>
                        </div>

                    </div>
                    <hr class="featurette-divider">
                </div>
            </ng-template>
        </div>



        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="product-sidebar">
                <div class="product-sidebar-widget">
                    <h4 class="mb-0">Estas listo para Realizar tu Compra?</h4>
                </div>
                <div class="product-sidebar-widget">
                    <p>Al realizar el pago su envio se estaralizando lo mas pronto posible </p>
                    <div>Total a Pagar: {{total}} Bsf</div>
                    <br>
                    <ng-container *ngIf="items.length > 0; else elseTemplate">
                        <button type="button" (click)="LoadOder()" name="" id="" class="btn  pink-button">Realizar
                            pago</button>
                    </ng-container>
                    <ng-template #elseTemplate>

                    </ng-template>


                </div>


            </div>

        </div>
    </div>
</div><!-- /.container -->
<hr class="featurette-divider">
<h3 class="text-center"> Ofertas</h3>
<hr class="featurette-divider">
<div class=" row">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let ofert of oferts">
        <app-cards [product]="ofert" (reloadCart)="getCart()"></app-cards>
    </div>




    <!-- /END THE FEATURETTES -->

    <app-footer></app-footer>