<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <app-navbaradmin></app-navbaradmin>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <app-siderbaradmin></app-siderbaradmin>

    <router-outlet (activate)="onActivate($event)"></router-outlet>

</div>