<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <hr>
    <!-- Three columns of text below the carousel -->
    <h3 class="text-center"> Ordene</h3>

    <hr>
    <div class="row">
        <ng-container *ngIf="val == 'empy'; else cartTemplate">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 id="message" class="text-center">actualmente no tiene no tiene ordenes de compras</h3>
            </div>
        </ng-container>


        <ng-template #cartTemplate>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <div *ngFor="let item of items; let i = index" class="col-12">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12">
                            <img class="size-image" src="{{item.product.images[0].url}}" alt="">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-8">
                            <a [routerLink]="['/public/product/', item.product_id]"
                                routerLinkActive="router-link-active">
                                <h4>{{item.product.name}}</h4>
                            </a>
                            <ng-container *ngFor="let size of item.product.sizes">
                                <div *ngIf="size.id == item.size_id">
                                    <div>Talla seleccionada: {{size.size}}</div>
                                </div>
                            </ng-container>
                            <div>Precio por Unidad: {{item.product.price}} Bs</div>
                            <div>Cantidad selecionada: {{item.quantity}}</div>


                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-4">
                            <p>Total :{{item.product.price*item.quantity}} Bs</p>
                        </div>

                    </div>
                    <hr class="featurette-divider">
                </div>
            </div>
            <div *ngIf="val != 'empy'" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <button class="btn btn-lg btn-outline-danger" (click)="open(content)">Cancelar Orden</button>
            </div>
        </ng-template>
    </div>
</div>
<ng-container *ngIf="val != 'empy'">

    <hr class="featurette-divider">
    <h3 class="text-center"> Metodos de pago</h3>
    <hr class="featurette-divider">
    <div class="p-3">
        <ngb-tabset [justify]="fill">
            <ngb-tab title="Pago Movil">
                <ng-template ngbTabContent>
                    <br>
                    <h4 class="text-center">datos para realizar el pogo movil</h4>
                    <br>
                    <div>Telefono: <b>0426-834-58-06</b></div>
                    <div>Cedula:<b>V 26.350.710</b></div>
                    <div>Banco: <b>Prvincial</b></div>
                    <div>Monto ha cancelar: <b>{{total}}Bs</b></div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Transferencia Bancaria</ng-template>
                <ng-template ngbTabContent><br>
                    <div class="row">
                        <div class="col-6">
                            <h4 class="text-center">datos para realizar la transferencia</h4>
                            <br>
                            <div>Persona: <b>Virginia Valentina Pedrique Aponte</b></div>
                            <div>Cedula:<b>V 26.350.710</b></div>
                            <div>Banco: <b>Prvincial</b></div>
                            <div>Numero de Cuenta: <b>01080050190100275654</b></div>
                            <div>Monto ha cancelar: <b>{{total}}Bs</b></div>
                        </div>
                        <div class="col-4">
                            <form [formGroup]="formCreatePay">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Nombre de quien transfiere</label>
                                        <input type="text" formControlName="name" class="form-control" id="inputEmail4"
                                            placeholder="Nombre">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Numero de referencia</label>
                                        <input type="number" formControlName="ref" class="form-control"
                                            id="inputPassword4" placeholder="Numero de referencia">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Dirrección de Envio</label>
                                    <input type="text" formControlName="address" class="form-control" id="inputAddress"
                                        placeholder="Oficina Domesa o tealca">
                                </div>
                                <div class="custom-file">
                                    <input type="file" (change)='onUploadImage($event)' formControlName="image"
                                        accept=".png, .jpg, .jpeg, .pdf" class="custom-file-input"
                                        id="validatedCustomFile" required>
                                    <label class="custom-file-label" for="validatedCustomFile">{{imgName}}</label>
                                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">

                                    </div>
                                </div>
                                <button type="submit" [disabled]="formCreatePay.invalid" class="btn btn-primary"
                                    (click)="payOrder()">Confirmar Pago</button>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Pronto airtm">
                <ng-template ngbTabContent>
                    <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
                        Nulla
                        facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget
                        tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu,
                        et
                        molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque.
                        Praesent
                        fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi
                        ut
                        bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus
                        nec
                        tortor vel tellus pulvinar feugiat.</p>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</ng-container>
<hr class="featurette-divider">
<h3 class="text-center"> Ofertas</h3>
<hr class="featurette-divider">

<div class=" row">
    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let ofert of oferts">
        <app-cards [product]="ofert"></app-cards>
    </div>

</div><!-- /.container -->


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Desea Cancelar Su Orden?</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Esta seguro de que quiere Cancelar su pedido Sr(a):<span
                    class="text-primary">"{{request.session.name}}
                    {{request.session.lastname}}".</span>
            </strong></p>
        <p>Para cancelar su pedido.
            <span class="text-danger">pulse el boton rojo que dice cancelar orden.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cerra</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok')">Cancelar Orden</button>
    </div>
</ng-template>
<!-- /END THE FEATURETTES -->

<app-footer></app-footer>